@import url(http://fonts.googleapis.com/earlyaccess/amstelvaralpha.css);
@import url('http://fonts.cdnfonts.com/css/common-pixel');

* {
  text-decoration: none;
  list-style: none;
}

body {
  margin:0;
	width:100%;
	height:100vh;
  	background:#ffffff;
	-webkit-font-smoothing: antialiased;
	/* -moz-osx-font-smoothing: grayscale;   */
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

.HeroImage {
  /* display: flex; */
  width: 100%;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
}

.hero {
  display: flex;
  width: 100%;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

@media (min-width: 600px) {
  .HeroImage {
      background-image: url("../Images/pc.png");
  }
  .Hero {
      background-image: url("../Images/metaverse.png");
  }
}

@media (min-width: 240px) and (max-width: 599px) {
  .HeroImage {
      background-image: url("../Images/mobile.png");
  }
  .Hero {
      top: 60px;
      background-image: url("../Images/metaverse.png");
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* {
  list-style-type: none
} */

/* The About us section style */
@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
@import url('http://fonts.cdnfonts.com/css/gobold');

.serviceContainer{
  color: white;
  /* z-index: 50; */
  display: flex;
  gap: 20px;
  flex-direction: column;
  background: #0071CE;
  height: 120vh;
  overflow: hidden;
  width: 100%;
  font-size: 21px;
  font-family: 'Gobold', sans-serif;
  /* padding: 20px; */
  position: relative;
}


@media (max-width: 480px){
  .serviceContainer{
    font-size: 12px;
    height: 900px;
  }
}

@media (min-width: 480px) and (max-width: 1200px){
  .serviceContainer{
    font-size: 14px;
    height: 1000px;
    font-style: uppercase;
  }

  .scroll-div > p {
    padding: 4px;
  }

}

.scroll-div {
  margin-top: 70px;
  position: relative;
}

.scroll-div > h1 {
  padding: 8px;
}

.scroll-div > p {
  padding: 5px;
}
@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
@import url('http://fonts.cdnfonts.com/css/gobold');

.serviceContainer1{
  color: #0071CE;
  text-decoration: uppercase;
  /* z-index: 50; */
  display: flex;
  gap: 20px;
  flex-direction: column;
  background: white;
  height: 150vh;
  overflow: hidden;
  width: 100%;
  font-size: 18px;
  font-family: 'Gobold', sans-serif;
  font-style: uppercase;
  text-decoration: uppercase;
  text-transform: uppercase;
  padding: 20px;
  position: relative;
}


@media (max-width: 480px){
  .serviceContainer1{
    font-size: 12px;
    height: 900px;
  }
  .scroll-div1 {
    margin-top: 50px;
    position: relative;
  }
  
  .scroll-div1 > h1 {
    padding: 4px;
  }
  
  .scroll-div1 > p {
    padding: 2px;
  }
}

@media (min-width: 481px) and (max-width: 1200px){
  .serviceContainer1{
    font-size: 17px;
    height: 1000px;
    /* text-transform :uppercase; */
    text-transform : bold;
  }

  .scroll-div1 > p {
    padding: 10px;
    margin: 20px;
  }
}

.scroll-div1 {
  margin-top: 50px;
  position: relative;
}

.scroll-div1 > h1 {
  padding: 4px;
}

.scroll-div1 > p {
  padding: 5px;
}


/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* The room Image */

.ContactSection {
    z-index: 200;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fullpagecontainer3{
    overflow:hidden;
     height: 100vh;
     width: 100%;
     /* overflow-y: scroll; */
     /* overflow-x: scroll; */
     /* scroll-snap-type: y mandatory; */
 }

 .sectionw{
   /* height:100vh; */
   width:100%;
   position: relative;
   scroll-snap-align: center;
   margin:0 auto;
   overflow:hidden;
   /* display:table; */
 }

 .homeWrapper{
   position:relative;
 }
 .homesections{
   width: 100%;
   height: 100vh;
   background-image: url("../Images/room_edit.png");
   background-repeat: no-repeat;
   background-size: cover;
 }

 /* .roomImg {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;

 } */

 @media (min-width: 240px) and (max-width: 480px) {
  .fullpagecontainer2 {
    height:40vh;
  }
  .section {
    height:20vh;
    width: 100%;
  }
 }

 @media (min-width: 481px) and (max-width: 1024px) {
  .fullpagecontainer2 {
    height:10vh;
    width: 100%;
  }
  .section {
    height:80vh;
    width: 100%;
  }
 }


 /* Vision */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */

 .vision {
  height: 100vh;
  width: 100%;
  background-color: white;
 }



 /* The Join Us Sectio Styling */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */


.joinContainer {
    z-index: 200;
    background-color: white;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
    width: 100%;
    /* height: 100vh; */
    /* margin-top: 60px; */
}

.JoinUsDiv {
    /* background-color: red; */
    margin: 10px;
    height: 250px;
}

.JoinUsImg {
    width: 300px;
    height: 300px;
    margin-bottom: 25px;
    /* margin-top: -150px;
    margin-bottom: -200px; */
}
.PartnerWithImg:hover {
    transform: scale(1.1);
}

.WorkWithImg {
    width: 300px;
    height: 90px;
    /* margin-bottom: 60px; */
    cursor: pointer;

    margin-right: 30px;
}
.WorkWithImg:hover {
    transform: scale(1.1);
}

.PartnerWithImg {
    width: 300px;
    height: 90px;
    /* margin-bottom: 60px; */
    cursor: pointer;

    margin-left: 30px;
}

.LogoImg {
    width: 350px;
    height: 250px;
    margin-bottom: 20px;
    /* margin-top: -100px; */
}

.FlexDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
    /* justify-content: space-between; */
    /* margin: 10px; */
    padding: 20px;
}

@media screen and (max-width: 768px) {
    .joinContainer {
        background-color: white;
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    }
    .JoinUsImg {
      margin-top: 150px;
      width: 200px;
      height: 200px;
      /* margin-top: -50px; */
      /* margin-bottom: -50px; */
    }

    .FlexDiv {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin-top: 40px;
        /* margin: 0% 0%; */
        padding-bottom: 10px;
    }

    .WorkWithDiv {
        padding-bottom: 20px;
        margin-left: 50px ;
    }

    .WorkWithImg {
        width: 250px;
        height: 100px;
    }
    
    .PartnerWithImg {
        width: 250px;
        height: 90px;
    }

    .LogoImg {
        width: 200px;
        height: 200px;
        /* margin-top: -10px; */
    }
  }

  /* Fotter */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */

.FOOTER {
    padding: 1rem calc(2.5rem + 2.5vw);
    font-size: 1.4rem;
    font-family: 'Common Pixel', sans-serif;
    background-color: #2d2c2c;
    color: #b7b6b6;
    /* position: fixed; */
}

.leftText {
    text-align: left;
}

/*  */
/*  */
/*  */
@media screen and (max-width: 768px) {
  .FOOTER {
    font-size: 1rem;
  }
}



/*  */
/*  */
/*  */
/*  */
/*  */

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* show a hand cursor on hover; some argue that we
  should keep the default arrow cursor for buttons */
  cursor: pointer;
}

.header{
  position:fixed;
  height: 60px;
  width:100%;
  /* background: linear-gradient(to bottom, #dee3e0, #c3c7c5); */
  /* background: transparent; */
  opacity:0.8;
  transition: 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  z-index:20;
  opacity: 1;

}

/* .headerfill{
  height: 20px;
  width: 100%; 
}*/

.logo{
  display:block;
  margin:auto;
  padding-top:0.6rem;
}

 .hamburger-sticky{
    position:fixed;
    transform:translateY(0.7rem);
    z-index:2000;
    right: 30px;
    /* margin-left:1rem; */
  }

.hamburger-normal, .hamburger-normal-mid{
  width: 30px;
  height: 5px;
  background-color: black;
  margin: 7px;
  /* padding-right: 4px; */
  /* margin-right: 5px; */
  transition: transform 0.3s ease-out,
              opacity 0.5s ease-out,
              width 0.5s ease-out,
              height 0.5s ease-out,
              margin 0.5s ease-out;
}

.open-desktop .header{
  opacity:1;
  height:50vh;
}

.open-desktop .hamburger-normal{
  width:0px;
}

.line{
  position:fixed;
  height:0.5px;
  background-color:black;
  width:100%;
  z-index:20;
  transform:translateY(-20px);
  transition:0.5s;
  opacity:0; 
  margin-left:2.5%;
}
.open-desktop .line{
  transform:translateY(50px);
  opacity:0.3;
}

.navigation-list{
  position:fixed;
  font-family: 'Roboto', sans-serif;
  font-size:1.2em;
  color: black;
  cursor: pointer;
  z-index:300;
  transform:translateY(-80%);
}

.navigation-list li:hover {
  color: blue;
}
  
.open-desktop .navigation-list{
  top:2vh;
  
  transform:translate(50%,0);
}

.navigation-list li{
  line-height:2;
  opacity:0;
}

.open-desktop .navigation-list li{
  opacity:1;
  transform:translate(0%, 120%);
  transition:transform 0.3s ease-out,
             opacity 0.2s ease-out;
}

.open .navigation-list .li-latest, .open-desktop .navigation-list .li-latest{transition-delay:0.1s;}
.open .navigation-list .li-japan, .open-desktop .navigation-list .li-japan{transition-delay:0.2s;}
.open .navigation-list .li-studio, .open-desktop .navigation-list .li-studio{transition-delay:0.3s;}
.open .navigation-list .li-travellin, .open-desktop .navigation-list .li-travellin{transition-delay:0.4s;}
.open .navigation-list .li-nostalgia, .open-desktop .navigation-list .li-nostalgia{transition-delay:0.5s;}


@media only screen and (min-width: 667px){
  
  .header{
    height:60px;
  }

  
}

@media (max-width: 520px) {
  .open-desktop .navigation-list{
    top:2vh;
    
    transform:translate(30%,0);
  }
    
}

.images .icon-left {
  width:50px;
  height:50px;
  position: relative;
  left: 30px;
  top: 5px;
  cursor: pointer;
}
.images .icon-right {
  width:50px;
  height:49px;
  position:fixed;
  transform:translateY(0.7rem);
  z-index:2000;
  right: 120px;
  margin-left:1rem;
  top: -15px;
  padding: 10px;
  cursor: pointer;
}
.images .icon-right1 {
  width:50px;
  height:56px;
  position:fixed;
  transform:translateY(0.7rem);
  z-index:2000;
  right: 70px;
  margin-left:1rem;
  top: -19px;
  padding: 10px;
  cursor: pointer;
}
.images .icon-right2 {
  width:50px;
  height:50px;
  position:fixed;
  transform:translateY(0.7rem);
  z-index:2000;
  right: 170px;
  margin-left:1rem;
  top: -14px;
  padding: 10px;
  cursor: pointer;
}

/* .flexer {
  display: flex;
} */

